.posts-container {
    .posts-list {
        .post-card {
            display: inline-block;
            width: 95%;

            .alert-link {
                cursor: default;
            }
        }
        a {
            &.expand,
            &.collapse {
                float: right;
                &:hover {
                    text-decoration: none;
                }
                span {
                    font-size: 50px;
                    margin-left: 10px;
                }
            }
        }
    }
    .load-all-container {
        float: right;
        margin-right: 10%;
    }
}
